body
{
    margin: 0;
    padding: 0;
}
:root{

    --footer-color: #93b6ae;
    --black-color: rgb(13, 13, 13);
    --green-color:#5b644c;
    --red-color:#cb2829;
    --gray-color:#9e7677
}

@media (min-width: 601px) {
    body {
      max-width: 400px;
      width: 400px;
      margin: 0 auto;
      overflow-x: hidden;
      border: 1px solid;
      height: 100vh;
      z-index: -1;
  
    }

  }